/*!
 * Project_Name: Weather
 * Author: Themezy
 * Email: contact[at]themezy.com
 * Url: http://www.themezy.com
 */
/*=========================================== 
 * Importing CSS Libraries
 *===========================================*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }


html,
button,
input,
select,
textarea {
  font-family: sans-serif; }


abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }


/*
 * Global Styles
 */


h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0 0 20px;
  line-height: normal; }

hr {
  border: none;
  border-bottom: 1px solid #777; }

ul, ol {
  margin: 0;
  padding-left: 0; }



address {
  font-style: normal; }

p {
  margin-top: 0; }


form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
form textarea {
  resize: vertical; }

/*
 * Reusable Components Style
 */

.map {
  height: 220px; }


/*
 * Header Styles
 */

.fullwidth-block {
  padding: 70px 0; }
  .fullwidth-block .section-title {
    font-size: 36px;
    font-size: 2.5714285714em;
    font-weight: 300;
    color: white; }

.filter {
  margin-bottom: 30px; }

.filter-control {
  border: 2px solid #262936;
  padding: 5px 5px 5px 20px;
  border-radius: 30px;
  display: inline-block;
  white-space: nowrap; }
  .filter-control label {
    margin-right: 10px;
    display: inline-block;
    padding: 10px;
    vertical-align: middle; }

.select.control {
  background: #262936;
  border-radius: 40px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  padding-right: 30px;
  position: relative; }
  .select.control:after {
    content: " ";
    width: 7px;
    height: 9px;
    background: url(images/arrow-down.png);
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
    z-index: 1; }
  .select.control select {
    padding: 10px 30px;
    width: 110%;
    border: none;
    background: none;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    color: white; }

.live-camera {
  margin-bottom: 30px; }
  .live-camera .live-camera-cover {
    position: relative;
    margin-bottom: 20px;
    cursor: pointer; }
    .live-camera .live-camera-cover:after {
      content: " ";
      width: 45px;
      height: 45px;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      background: url(images/play-button.png); }
    .live-camera .live-camera-cover img {
      display: block;
      width: 100%;
      height: auto;
      max-width: 100%;
      border-radius: 5px; }
  
.news {
  padding-left: 100px;
  position: relative; }
  .news:after {
    content: " ";
    width: 12px;
    height: 7px;
    background: url(images/arrow.png);
    display: block; }
  .news .date {
    position: absolute;
    top: 0;
    left: 0;
    color: #009ad8;
    font-size: 24px;
    font-size: 1.7142857143em; }
  .news h3 {
    font-size: 14px;
    font-size: 1em; }
    .news h3 a {
      color: white; }

.arrow-feature {
  list-style-type: none; }
  .arrow-feature li {
    position: relative;
    padding-left: 30px; }
    .arrow-feature li:before {
      content: " ";
      width: 12px;
      height: 7px;
      background: url(images/arrow.png);
      position: absolute;
      left: 0;
      top: 5px; }
    .arrow-feature li h3 {
      font-size: 14px;
      font-size: 1em;
      color: white; }

.arrow-list {
  list-style-image: url(images/arrow.png);
  list-style-position: inside; }
  .arrow-list li {
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
    .arrow-list li:last-child {
      border-bottom: none; }
  .arrow-list a {
    color: white; }
    .arrow-list a:hover {
      color: #009ad8; }

.photo-grid {
  margin: 0 -5px; }
  .photo-grid a {
    width: 33.333%;
    padding: 5px;
    float: left; }
    .photo-grid a img {
      display: block;
      width: 100%;
      max-width: 100%;
      height: auto; }

.breadcrumb {
  background: #262936;
  border-radius: 40px;
  padding: 20px 30px;
  font-size: 13px;
  font-size: 0.9285714286em; }
  .breadcrumb a {
    color: #bfc1c8; }
    .breadcrumb a:after {
      content: " ";
      display: inline-block;
      vertical-align: middle;
      width: 12px;
      height: 7px;
      background: url(images/arrow-gray.png) no-repeat;
      margin: 0 10px; }
    .breadcrumb a:hover {
      text-decoration: underline; }
  .breadcrumb span {
    color: white; }

.post {
  padding: 50px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  .post.single {
    border-bottom: none; }
  .post:first-child {
    padding-top: 0; }
  .post .entry-title {
    font-size: 30px;
    font-size: 2.1428571429em;
    font-weight: 300;
    color: white; }
  .post .featured-image {
    margin-bottom: 20px; }
    .post .featured-image img {
      width: 100%;
      max-width: 100%;
      height: auto;
      border-radius: 5px;
      display: block; }
  .post p {
    margin-bottom: 30px; }

.entry-content blockquote {
  margin-left: 50px;
  padding-left: 50px;
  position: relative; }
  .entry-content blockquote:before {
    content: " ";
    width: 30px;
    height: 23px;
    background: url(images/quote.png);
    position: absolute;
    top: 0;
    left: 0; }
  .entry-content blockquote p {
    font-size: 24px;
    font-size: 1.7142857143rem;
    color: #009ad8; }

.photo {
  position: relative;
  padding-left: 50%;
  min-height: 190px;
  border-radius: 10px;
  overflow: hidden;
  background: #262936;
  margin-bottom: 30px; }
  .photo .photo-preview {
    position: absolute;
    width: 50%;
    left: 0;
    top: 0;
    bottom: 0;
    background-size: cover; }
  .photo .photo-details {
    padding: 20px; }
  .photo .photo-title {
    margin-bottom: 10px;
    font-weight: 300; }
    .photo .photo-title a {
      color: white; }

.star-rating {
  float: none;
  overflow: hidden;
  position: relative;
  height: 15px;
  line-height: 15px;
  font-size: 16px;
  width: 100px;
  font-family: 'FontAwesome'; }
  .star-rating:before {
    content: "\f005\f005\f005\f005\f005";
    color: #1e202b;
    float: left;
    top: 0;
    left: 0;
    position: absolute; }
  .star-rating span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;
    color: #009ad8;
    font-size: 16px; }
  .star-rating span:before {
    content: "\f005\f005\f005\f005\f005";
    top: 0;
    position: absolute;
    left: 0; }

.contact-details {
  background: #262936;
  border-radius: 10px;
  overflow: hidden; }
  .contact-details .map {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
  .contact-details .contact-info {
    padding: 20px; }
  .contact-details address {
    padding-left: 30px;
    position: relative; }
    .contact-details address img {
      position: absolute;
      left: 0;
      top: 0; }
  .contact-details a {
    margin-right: 20px;
    color: #bfc1c8; }
    .contact-details a img {
      margin-right: 10px;
      vertical-align: middle; }

.contact-form [class*="col"] {
  padding: 0 5px; }
.contact-form .row {
  margin: 0 -5px; }
.contact-form input:not([type="submit"]), .contact-form textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  color: white;
  border: 2px solid #393c48;
  background: transparent; }
  .contact-form input:not([type="submit"]):hover, .contact-form input:not([type="submit"]):focus, .contact-form textarea:hover, .contact-form textarea:focus {
    border-color: #009ad8; }
.contact-form textarea {
  min-height: 150px; }
.contact-form .text-right {
  text-align: right; }

.sidebar .widget {
  background: #262936;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px; }
  .sidebar .widget .widget-title {
    font-size: 24px;
    font-size: 1.7142857143em;
    margin-bottom: 20px;
    font-weight: 300; }
  .sidebar .widget .arrow-list li {
    border: none; }
  .sidebar .widget.top-rated {
    padding: 0; }
    .sidebar .widget.top-rated .widget-title {
      padding: 20px 20px 0; }
    .sidebar .widget.top-rated ul {
      list-style: none; }
      .sidebar .widget.top-rated ul li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding: 10px 20px; }
        .sidebar .widget.top-rated ul li:last-child {
          border-bottom: none; }
    .sidebar .widget.top-rated .entry-title {
      font-size: 14px;
      font-size: 1em;
      margin-bottom: 5px;
      font-weight: 300; }
      .sidebar .widget.top-rated .entry-title a {
        color: #bfc1c8; }
    .sidebar .widget.top-rated .rating strong {
      color: #009ad8; }

/*
 * Footer Styles
 */

  .site-footer .subscribe-form {
    position: relative;
    margin-bottom: 30px; }
    .site-footer .subscribe-form input[type="text"] {
      padding: 20px 100px 20px 20px;
      background: #1e202b;
      width: 100%;
      color: white; }
    .site-footer .subscribe-form input[type="submit"] {
      position: absolute;
      right: 5px;
      top: 5px;
      bottom: 5px; }
  